form{
    position: relative;
    width: 90%;
    margin: auto;
}

@font-face {
	font-family: yunmeng; 
	src: url('/static/font/yewei.ttf');
}

#sousuoo{
    width: 80%;
    height: 35px;
}

#sub_div{
    width: 15%;
    left: -6px;
    top: 2px;
    height: 39px;
}

#sousuoo,#sub_div{
    position: relative;
    display: inline-block;
    font-size: 20px;
}

#perboke{
    position: relative;
    width: 90%;
}

.content_content1{
    width: 90%;
    border: 1px #a9a9a9 solid;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;    
}

.content1 *{
    margin-left: 20px;
}

.content1 h{
    display: block;
    height: 30px;
    font-weight: 900;
}

.content1{
    display: inline-block;
    width: 80%;
}

.del{
    display: inline-block;
}

.del button{
    display: block;
    width: 100px;
    height: 30px;
    float: right;
    cursor: pointer;
}

#empty{
    position: relative;
    display: block;
    width: 90%;
    font-size: 35px;
    margin: 80px auto;
    text-align: center;
    font-family: yunmeng;
    font-weight: 800;
    color: #a24848;
}