<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><<<<<博客>>>>></title>
	</head>
	{% load static %}
	<link href="{%static 'css/main_page.css'%}" rel="stylesheet" type="text/css"/>
	<body id="M">
		<div id="asd">
			<span id="asd_span">
			</span>
		</div>
		<div id="top_div">
			<div id="top_">
			</div>
			<div id="top">
				<a id="boke_tubiao" href="#body">	
					<div id="boketubiao">					
					</div>
				</a>
				<div id="sousuo" onmousemove="zhanneisousuo()" onmouseout="zhanneisousuo_()">
						站内搜索
				</div>
				<div id="ul_num">
					<ul id="top_mass">
						<li class="top">1</li>
						<li class="top"><a id="login" href="/login&register/">登录</a></li>
						<li class="top">1</li>
					</ul>
				</div>
			</div>
		</div> 
		<div id="head_div">
			<div id="head">
				<div id="boke">
					<a href="http://www.baidu.com">博客</a>		
				</div>
				<div id="span">
					
				</div>
			</div>
		</div>
		<div id="title_div">
			<div id="ul">
				<ul id="title_ul">
					<li class="title" style="width: 90px;"><a href="#body">主页</a></li>
					<li class="title"><a href="">我的博客</a></li>
					<li class="title"><a href="">个人信息</a></li>
				</ul>
			</div>
		</div>
		<div id="content_div">
			<div id="content">
				<div id="menu_div" class="absu">
					<div id="" >
						
					</div>
					<div id="" >
						
					</div>
				</div>
				<div id="setting_div">
					<div id="user_set">
							{% for post in posts %}
							<div class="content">
								<div class="replay_mass">
									<a class="repaly_user" href="#body" >
										<img src="{{post.userPicture}}" alt="" >
									</a>
										<span class="userNickname">{{post.userNickname}}</span>
								</div>
								<div class="replay_con">
									<div class="content_title" >
										<span>{{post.title}}</span>
									</div>
									<div class="content_content">
										<dl>
											<dt class="content_image">
												<img src="{{post.Picture}}" alt="">
											</dt>
											<dd>
												<span>{{post.content}}</span>
											</dd>
										</dl>
									</div>
									<div class="timeANDname">
										<span class="time">{{post.datetime | date:'Y-m-d H:i:s'}} </span>
										<a href="/replay/{{post.num}}" class="content_name">回复</a>
									</div>
								</div>
							</div>
						{% endfor %}
						<br><br><br>
						<ul id="page_div">
							{% if nowPage != 1  %} 
							<li><a href="/1">首</a></li>
							<li><a href="/{{nowPage | add:'-1' }}">上</a></li>
							{% endif %}
							{% for i in page_sum %}
							<li><a id="page_{{i}}"  href="/{{i}}">{{i}}</a></li>
							{% endfor %}	
							{% if nowPage != total_page  %} 
							<li><a href="/{{nowPage | add:'1' }}" >下</a></li>
							<li><a href="/{{total_page}}">末</a> </li>	 
							{% endif %}	
							<input id="page_in" value="{{nowPage}}" style="display:none">
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="{%static 'js/Jquary.js'%}" type="text/jscript" charset="UTF-8"></script>
	<script src="{%static 'js/main_page.js'%}" type="text/jscript" charset="UTF-8"></script>
	</script>
</html>
