<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	{% load static %}
    <link href="{%static 'css/user_setting.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{%static 'css/permass.css'%}" rel="stylesheet" type="text/css"/>
	<!-- <link rel="stylesheet" type="text/css" href="css/user_setting.css"/> -->
	<body>
		<form action="/save_user/" method="POST" style="border: none;" onsubmit="return CHECKALL()" >
			{% csrf_token %}
			<div id="body">
				<div id="user_picture">
					<img id="user_pict" src="{{content.userPicture}}" title="" width="100%" height="100%" />   
					<!-- <div id="file">
						<span id="file_span">
							点我上传
						</span>
						<input type="file" name="user_pict" id="picture_file" value="" />
					</div> -->
				</div>
				<div id="user_mass">
					<ul id="ul">
						<li>
							<span id="user_name">
								昵&nbsp;称&nbsp;&nbsp;
							</span>
							<input type="" name="user_name" id="User_name" value="{{content.userNickname}}" onblur="CHECK_NAME()" />
						</li>
						<li>
							<span id="">
								Q&nbsp;Q&nbsp;&nbsp;
							</span>
							<input type="" name="user_QQ" id="user_QQ" value="{{content.userQQ}}" onblur="CHECK_QQ()" />
						</li>
						<li>
							<span id="">
								个人标签&nbsp;&nbsp;
							</span>
							<input type="" name="user_span" id="user_span" value="{{content.userSign}}" />
						</li>
						<span id="tip"></span>
					</ul>
				</div>
				
                <a href="" id="quxiao">取消关注</a>
						
			</div>
		</form>
		
	</body>
	<script src="{%static 'js/Jquary.js'%}" type="text/jscript" charset="UTF-8"></script>
	<script src="{%static 'js/user_setting.js'%}" type="text/jscript" charset="UTF-8"></script>
</html>
